#cmd{
	color:white;
	font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
	font-size: 	13px;
}

#containerSmall{
	width:650px;
    height:260px;
	overflow: hidden;	
	margin: auto;
	background:black;
}

.cmdSize{
	width:680px;
    height:280px;
	overflow: auto;
}