#containerSmall{
	color:white;
	font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
	font-size: 	13px;
}

#cmd{
	width:650px;
    height:260px;
	overflow: hidden;	
	margin: auto;
	background:black;
}

#input {
	margin-left: -500px;
}

.cmdSize{
	width:680px;
    height:280px;
	overflow: auto;
}

#message{
	text-align: center;
	font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
	display: none;
}